<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Web Challenge - Abstracta" parallel="false">
    <test name="Main Test">
        <classes>
            <class name="com.abstracta.RunTest"/>
        </classes>
    </test>
    <suite-files>
        <suite-file path="./testng-suites/productInfo.xml"/>
        <suite-file path="./testng-suites/purchase.xml"/>
        <suite-file path="./testng-suites/signUp.xml"/>
        <suite-file path="./testng-suites/logIn.xml"/>
    </suite-files>
</suite>